body {
  background: whitesmoke;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.main-header {
  background: white;
  height: 96px;
  margin: -8px;
}

.header-item {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
}
.header-item .logo {
  font-size: 30px;
}
.header-item .logo b {
  font-weight: 900;
  color: lightseagreen;
}
.header-item .logo span {
  font-weight: lighter;
}

.setting {
  color: #adb5bd;
  font-weight: bold;
  display: flex;  
}
img {
  border-radius: 50%;
  width: 36px;
  margin-left: 20px;
  width: 33px;
}
i {
  margin-left: 20px;
  font-size: 32px;
}
i:hover {
  color: #333;
  cursor: pointer;
}
nav {
  color: #adb5bd;
  font-weight: 700;
}
nav a:first-child {
  margin: 0px;
}
nav a:hover {
  color: #333;
  border-bottom: 5px solid lightseagreen;
  padding-bottom: 30px;
  border-radius: 3px;
}
nav a {
  cursor: pointer;
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
}
nav .active {
  color: #333;
  border-bottom: 5px solid lightseagreen;
  padding-bottom: 30px;
  border-radius: 3px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 80px;
  align-items: flex-start;
}

.content .item {
  padding: 10px 20px;
  width: 100%;
  box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
  background: white;
  border-radius: 10px;

}
.content .item-1{
  
}
.content .item-2{
  margin-left: 30px;
  
}

.content .item-3{
  margin-left: 30px;
  background: lightseagreen;
  color: white;
}

.item h3 {
  color: lightseagreen;

}

.user_entry {
  margin-top: 40px;
}

.user_entry textarea {
  border: 1px solid lightseagreen;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.user_entry textarea:focus , .user_entry textarea:active{
  border: 1px solid lightseagreen;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.item table {
  width: 100%;
}


.grid {
  display: grid;
  grid-template-columns: 17rem 17rem 17rem 17rem;
  grid-template-rows: 15rem 15rem 15rem;
  grid-gap: 20px;
}

.grid div {
  padding: 10px 20px;
  box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
  background: white;
  border-radius: 10px;
}

.grid label {
  font-size: 16px;
  font-weight: 500;
}

.grid p {
  font-size: 40px;
  font-weight: bolder;
  line-height: 30px;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:  whitesmoke
}
