body {
  background: whitesmoke;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.main-header {
  background: white;
  height: 96px;
  margin: -8px;
}

.header-item {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
}
.header-item .logo {
  font-size: 30px;
}
.header-item .logo b {
  font-weight: 900
}
.header-item .logo span {
  font-weight: lighter;
}

.setting {
  color: #adb5bd;
  font-weight: bold;
  display: flex;  
}
img {
  border-radius: 50%;
  width: 36px;
  margin-left: 20px;
  width: 33px;
}
i {
  margin-left: 20px;
  font-size: 32px;
}
i:hover {
  color: #333;
  cursor: pointer;
}
nav {
  color: #adb5bd;
  font-weight: 700;
}
nav a:first-child {
  margin: 0px;
}
nav a:hover {
  color: #333;
  border-bottom: 5px solid lightseagreen;
  padding-bottom: 30px;
  border-radius: 3px;
}
nav a {
  cursor: pointer;
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
}
nav .active {
  color: #333;
  border-bottom: 5px solid lightseagreen;
  padding-bottom: 30px;
  border-radius: 3px;
}


.content {
  padding: 10px;
  box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
  margin: 80px;
  background: white;
  border-radius: 10px;
}