<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.scss') }}">
    <title>About</title>
  </head>
  <body>
    <div class="main-header">
      <!-- header -->
      <div class="header-item">
        <div class="logo"> 
          <b>Duke</b><span>Project</span>
        </div>
        <div class="menu">
          <nav>
            <a href="{{url_for('dashboard') }}">Dashboard</a>
            <a href="{{url_for('categories') }}">Categories</a>
            <a href="{{url_for('dataset') }}" >Dataset</a>
            <a href="{{url_for('statistics') }}" >Statistics</a>
            <a href="{{url_for('about') }}" class="active">About</a>
          </nav>
        </div>
        <div class="setting">
          <i class="far fa-bell"></i>
          <i class="far fa-envelope"></i>
          <div class="user-info-image"><img src="http://api.randomuser.me/portraits/men/22.jpg" alt="avatar"></div>
        </div>
      </div>
      <!-- content -->

      <div class="content">
        <div class="item">
            <h3>About</h3>
            <p>
              The exponential growth of the Internet has led to a great deal of interest in developing 
              useful and efficient tools and software to assist users in searching the web for relevant
              documents. Document classification is generally defined as a content-based assignment of
              one or more predefined categories to documents. Document classification appears in many
              applications, including email-filtering, news monitoring, etc. It is not feasible to 
              classify these documents manually and present automated classification methods have drawbacks
              like low accuracy and dependency on humans for document tagging. The proposed system 
              uses machine learning algorithms to speed up the classification process of the relevant 
              documents. The proposed machine learning algorithm -’Multinomial Naive Bayes’ helps in 
              the construction of a robust classifier model using a variety of data for training. 
              This classifier can then be improvised to classify documents automatically. 
              The Multinomial Naïve Bayes Classifier whose accuracy was approximately 99.81% was built
              and tested on data that was acquired from foreign and local news sources.
            </p>
            <p>
              Taxonomies are used to classify content in an organized way to make it easy to navigate 
              and find for other users, much the way a library catalogue works. However, recent research
              has shown that up to two-thirds of organizations cannot access their information assets 
              talk less of their web articles or text documents due to poor information classification or
              tagging. Consequently, if everyone agrees that proper content classification helps you find
              the information you need, the question that businesses and other entities must ask themselves 
              is how to classify the masses of content they face every day? There are many ways of doing this. 
              In the past, this has often been a manual task, whereby users themselves placed 
              content in different topics, folders, tags according to how they interpreted the content.
              The problem addressed in this project was to learn to classify (guess the category/group) 
              unlabelled text documents and user input into eight specific classes of Economy, Education,
              Entertainment, Health, Law & Politics, Religion, Science and Technology & Sports. 
              The problem would be solved by taking a large set of labelled (the category/group of the document)
              text documents and building a Naïve Bayes classifier from those documents which will be used to classify. 
            </p>
            <p>
              The main aim of this study is to be able to classify various input texts, text documents into eight specific classes of Economy, Education, Entertainment, Health, Law & Politics, Religion, Science and Technology & Sports. 
              The objectives of this project include
              To explore the concept of text mining and classification.
              To comprehend the theoretical aspect of the Naïve Bayes classifier using the simple yet
              robust algorithm, Multinomial Naïve Bayes theorem to achieve the task of classification.
              To explore the concept of Natural Language Processing, study and implement the
              Naïve Bayes Algorithm. 
              To train the Naïve Bayes algorithm with a set of training data consisting of columns of
              categories and sample articles.
              To discover how classification techniques can be used to classify unseen data into its
              various classes.
              To compute the performance of the classifier.  
            </p>
        </div>
        
      </div>
    </div>
  </body>
</html>
