<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.scss') }}">
    <title>Categories</title>
  </head>
  <body>
    <div class="main-header">
      <!-- header -->
      <div class="header-item">
        <div class="logo"> 
          <b>Duke</b><span>Project</span>
        </div>
        <div class="menu">
          <nav>
            <a href="{{url_for('dashboard') }}">Dashboard</a>
            <a href="{{url_for('categories') }}"  class="active">Categories</a>
            <a href="{{url_for('dataset') }}" >Dataset</a>
            <a href="{{url_for('statistics') }}" >Statistics</a>
            <a href="{{url_for('about') }}">About</a>
          </nav>
        </div>
        <div class="setting">
          <i class="far fa-bell"></i>
          <i class="far fa-envelope"></i>
          <div class="user-info-image"><img src="http://api.randomuser.me/portraits/men/22.jpg" alt="avatar"></div>
        </div>
      </div>
      <!-- content -->

      <div class="content">
        Categories
      </div>
    </div>
  </body>
</html>
