<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.scss') }}">
    <title>Categories</title>
  </head>
  <body>
    <div class="main-header">
      <!-- header -->
      <div class="header-item">
        <div class="logo"> 
          <b>Duke</b><span>Project</span>
        </div>
        <div class="menu">
          <nav>
            <a href="{{url_for('dashboard') }}">Dashboard</a>
            <a href="{{url_for('categories') }}"  class="active">Categories</a>
            <a href="{{url_for('dataset') }}" >Dataset</a>
            <a href="{{url_for('statistics') }}" >Statistics</a>
            <a href="{{url_for('about') }}">About</a>
          </nav>
        </div>
        <div class="setting">
          <i class="far fa-bell"></i>
          <i class="far fa-envelope"></i>
          <div class="user-info-image"><img src="http://api.randomuser.me/portraits/men/22.jpg" alt="avatar"></div>
        </div>
      </div>
      <!-- content -->

      <div class="content">
        <div class="item">
          <table>
            <tr>
              <th>SN</th>
              <th>Categories</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Crime</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Entertainment</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Polities</td>
            </tr>
            <tr>
              <td>4</td>
              <td>World News</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Comedy</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Sport</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Tech</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Culture & Arts</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Food & Drinks</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Religion</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Travel</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Science</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Business</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
