<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.scss') }}">
    <title>Duke - Project - Dashboard</title>
  </head>
  <body>
    <div class="main-header">
      <!-- header -->
      <div class="header-item">
        <div class="logo"> 
          <b>Duke</b><span>Project</span>
        </div>
        <div class="menu">
          <nav>
            <a class="active">Dashboard</a>
            <a href="{{url_for('categories') }}">Categories</a>
            <a href="{{url_for('dataset') }}">Dataset</a>
            <a href="{{url_for('statistics') }}">Statistics</a>
            <a href="{{url_for('about') }}">About</a>
          </nav>
        </div>
        <div class="setting">
          <i class="far fa-bell"></i>
          <i class="far fa-envelope"></i>
          <div class="user-info-image"><img src="http://api.randomuser.me/portraits/men/22.jpg" alt="avatar"></div>
        </div>
      </div>
      <!-- content -->

      <div class="content">
        <div class="item item-1">
          <h3>Upload Test Data</h3>
          <span>Upload bunch of test data to classify</span>
          <div class="user_entry">
              <input type="file" name="" id="">
          </div>
        </div>
        <div class="item item-2">
          <h3>Paste Test data</h3>
          <span>Enter content </span>
          <div class="user_entry">
              <form method="POST">
                <textarea name="text" placeholder="Paste here" rows="10" cols="50"></textarea>  
                <input type="submit">
              </form>
          </div>
        </div>
        <div class="item item-3">
          <h3 style="color: white;">Results</h3>
          <span>Results is displayed here</span>
          <span>{{pred | safe}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
