<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/style.scss') }}">
    <title>Statistics</title>
  </head>
  <body>
    <div class="main-header">
      <!-- header -->
      <div class="header-item">
        <div class="logo"> 
          <b>Duke</b><span>Project</span>
        </div>
        <div class="menu">
          <nav>
            <a href="{{url_for('dashboard') }}">Dashboard</a>
            <a href="{{url_for('categories') }}">Categories</a>
            <a href="{{url_for('dataset') }}" >Dataset</a>
            <a href="{{url_for('statistics') }}" class="active">Statistics</a>
            <a href="{{url_for('about') }}">About</a>
          </nav>
        </div>
        <div class="setting">
          <i class="far fa-bell"></i>
          <i class="far fa-envelope"></i>
          <div class="user-info-image"><img src="http://api.randomuser.me/portraits/men/22.jpg" alt="avatar"></div>
        </div>
      </div>
      <!-- content -->

      <div class="content" style="display: block">
        <div class="grid">
          <div>
            <label>Main Dataset Number</label>
            <p>{{len | safe}}</p>
          </div>
          <div>
            <label>Number of categories</label>
            <p>{{categories | safe}}</p>
          </div>
          <div>
            <label>Train Dataset and Shape</label>
            <p>{{lentrain | safe}}</p>
          </div>
          <div>
            <label>Test Dataset and Shape</label>
            <p>{{lentest | safe}}</p>
          </div>
          <div>
            <label>Accuracy</label>
            <p>{{accuracy | safe}}%</p>
          </div>
          <div>
            <label>Duration</label>
            <p>{{duration | safe}}sec</p>
          </div>
          <div>
            <label>FI score</label>
            <p>{{cl | safe}}</p>
          </div>
          <div>
            <label>Log Loss</label>
            <p>23456</p>
          </div>
          <div>
            <label>Precision</label>
            <p>23456</p>
          </div>
          <div>
            <label>Recall</label>
            <p>23456</p>
          </div>
          <div>
            <label>Report</label>
            <p>23456</p>
          </div>
        </div> 
      </div>
    </div>
  </body>
</html>
